<form class="edit-hospital-container" [formGroup]="hospitalForm">
  <div class="edit-hospital-field">
    <label for="name">Name: </label>

    <div class="input">
      <input id="name" type="text" formControlName="name">

      <small *ngIf="hospitalForm.controls.name.errors && hospitalForm.controls.name.touched">
        * The name is mandatory
      </small>
    </div>
  </div>

  <div class="edit-hospital-field">
    <label for="address">Address</label>

    <div class="input">
      <input id="address" type="text" formControlName="address">

      <small *ngIf="hospitalForm.controls.address.errors && hospitalForm.controls.address.touched">
        * The address is mandatory
      </small>
    </div>
  </div>

  <button class="common-button edit-hospital-button" type="submit" [disabled]="hospitalForm.invalid" (click)="edit()">
    <label>edit</label>
  </button>

  <button class="common-button cancel-button" type="submit" (click)="cancel.emit(false)">
    <label>cancel</label>
  </button>
</form>
