.secure-container {
  display: flex;
  width: calc(100% - 1px);
  height: 100%;
  flex-direction: column;
  align-items: center;
  background: var(--color-basic-light2);
  border-left: 1px solid var(--color-basic-light3);
  animation: fade-in 1s ease-in;
}

.secure-container-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 130px;
  place-items: center;

  .secure-buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background: var(--color-basic-dark);
    border-radius: 6px;
    box-shadow: 0 15px 10px -15px var(--color-basic-dark);

    .secure-text {
      font-family: Exo-font, serif;
      font-size: 1.2em;
      color: var(--color-basic-light3);
    }

    .secure-icon {
      font-size: 3em;
    }
  }

  .doctor-button {
    background: var(--color-basic-red);

    .secure-icon {
      color: var(--color-basic-light3);
    }
  }

  .patient-button {
    background: var(--color-basic-purple);

    .secure-icon {
      color: var(--color-basic-light3);
    }
  }

  .speciality-button {
    background: var(--color-basic-orange);

    .secure-icon {
      color: var(--color-basic-light3);
    }
  }
}

.secure-container-data {
  width: 100%;
  height: 100%;
}

.active {
  .secure-text {
    font-weight: bold;
    border-bottom: 2px solid var(--color-basic-light3);
  }

  .secure-icon {
    animation: blink-icon 1s ease-in-out infinite;
  }
}
