.patient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  animation: fade-in .5s ease-in;

  .create-patient-button {
    display: flex;
    justify-content: space-evenly;
    min-height: 40px;
    margin: 10px 0;
    width: 120px;
    height: 40px;
    background-color: var(--color-basic-dark);
    color: var(--color-basic-light3);
    border-radius: 5px;
  }

  .patient-create-form {
    height: 250px;
    width: 95%;
  }
}

.patient-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: calc(100vh - 250px);
  overflow-y: auto;

  .patient-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: left;
    width: 100%;
    margin: 3px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
  }

  app-show-content-button {
    width: 100%;
  }
}

.info-patient-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: min-content;
  grid-column: 1/4;
  background: var(--color-basic-light4);
  position: relative;
  animation: load-card .5s ease-in;
  border-radius: 6px;

  .patient-picture {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;

    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  }

  app-tag-user-data {
    width: 80%;
  }
}
