.hospital-button {
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  width: 45px;
  border-radius: 5px;

  .hospital-button-icon {
    font-size: 1.4em;
  }
}

.delete-btn {
  background: var(--color-basic-red);
  color: var(--color-basic-light3);
}

.view-btn {
  background: var(--color-basic-purple);
  color: var(--color-basic-light3);
}

.edit-btn {
  background: var(--color-basic-orange);
  color: var(--color-basic-light3);
}

