.doctor-item-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;

  .options-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }

  fa-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .visible {
    background-color: var(--color-basic-blue-dark2);
    color: var(--color-basic-light3);
  }

  .not-visible {
    background: var(--color-basic-light3);
  }

  .delete {
    background: var(--color-basic-red);
    color: var(--color-basic-light3);
  }

  .edit {
    background: var(--color-basic-orange);
    color: var(--color-basic-light3);
  }

  .view{
    background: var(--color-basic-blue2);
    color: var(--color-basic-light3);
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}
