<form class="create-doctor-container" [formGroup]="doctorForm">
  <div class="create-doctor-field">
    <label class="title" for="name">Name: </label>

    <div class="input">
      <input id="name" type="text" formControlName="name">

      <small *ngIf="doctorForm.controls.name.errors && doctorForm.controls.name.touched">
        * The name is mandatory
      </small>
    </div>
  </div>

  <div class="create-doctor-field">
    <label class="title" for="lastname">Last Name: </label>

    <div class="input">
      <input id="lastname" type="text" formControlName="lastname">

      <small *ngIf="doctorForm.controls.lastname.errors && doctorForm.controls.lastname.touched">
        * The name is mandatory
      </small>
    </div>
  </div>

  <div class="create-doctor-field">
    <label class="title" for="address">Address: </label>

    <div class="input">
      <input id="address" type="text" formControlName="address">

      <small *ngIf="doctorForm.controls.address.errors && doctorForm.controls.address.touched">
        * The address is mandatory
      </small>
    </div>
  </div>

  <div class="create-doctor-field datepicker">
    <label class="title">Birthday: </label>

    <dl-date-time-picker
      startView="day"
      maxView="year"
      minView="day"
      formControlName="birthday"
    >
    </dl-date-time-picker>
  </div>

  <div class="create-doctor-select">
    <label class="title">Specialities: </label>

    <section class="doctor-specialities">
      <small class="speciality" *ngFor="let speciality of specialities" [ngClass]="{'selected':speciality.isVisible}"
             (click)="addSpeciality(speciality)">
        {{speciality.name}}
      </small>
    </section>
  </div>

  <div class="create-doctor-profile">
    <label class="title" for="file">Profile picture</label>

    <input id="file" type="file" accept="image/*" (change)="getFile($event)">
  </div>

  <button class="common-button create-doctor-button" type="submit" [disabled]="doctorForm.invalid" (click)="send()"
          *ngIf="!editUser.doctorId">
    <label>create</label>
  </button>

  <button class="common-button create-doctor-button" type="submit" [disabled]="doctorForm.invalid" (click)="edit()"
          *ngIf="editUser.doctorId">
    <label>edit</label>
  </button>

  <button class="common-button cancel-button" type="submit" (click)="cancel.emit(false)">
    <label>cancel</label>
  </button>
</form>
