<form class="create-patient-container" [formGroup]="patientForm">
  <div class="create-patient-field">
    <label class="title" for="name">Name: </label>

    <div class="input">
      <input id="name" type="text" formControlName="name">

      <small *ngIf="patientForm.controls.name.errors && patientForm.controls.name.touched">
        * The name is mandatory
      </small>
    </div>
  </div>

  <div class="create-patient-field">
    <label class="title" for="lastname">Last Name: </label>

    <div class="input">
      <input id="lastname" type="text" formControlName="lastname">

      <small *ngIf="patientForm.controls.lastname.errors && patientForm.controls.lastname.touched">
        * The name is mandatory
      </small>
    </div>
  </div>

  <div class="create-patient-field">
    <label class="title" for="address">Address: </label>

    <div class="input">
      <input id="address" type="text" formControlName="address">

      <small *ngIf="patientForm.controls.address.errors && patientForm.controls.address.touched">
        * The address is mandatory
      </small>
    </div>
  </div>

  <div class="create-patient-field datepicker">
    <label class="title">Birthday: </label>

    <dl-date-time-picker
      startView="day"
      maxView="year"
      minView="day"
      formControlName="birthday"
    >
    </dl-date-time-picker>
  </div>

  <div class="create-patient-profile">
    <label class="title" for="file">Profile picture</label>

    <input id="file" type="file" (change)="getFile($event)" accept="image/*">
  </div>

  <button class="common-button create-patient-button" type="submit" [disabled]="patientForm.invalid"
          (click)="send()" *ngIf="!editUser.patientId">
    <label>create</label>
  </button>

  <button class="common-button create-patient-button" type="submit" [disabled]="patientForm.invalid"
          (click)="edit()" *ngIf="editUser.patientId">
    <label>edit</label>
  </button>

  <button class="common-button cancel-button" type="submit" (click)="cancel.emit(false)">
    <label>cancel</label>
  </button>
</form>
