:root {
  --color-default: #4b5358;

  .basic-theme {
    --color-basic-light: #eaeaea;
    --color-basic-light2: #e5e5e5;
    --color-basic-dark: #4b5358;
    --color-basic-dark-shadow: #cecece;
    --color-basic-blue1: #18395d;
    --color-basic-blue2: #2863a5;
  }
}
