:root {

  --color-default: #4b5358;

  // basic-theme
  --color-basic-light: #eaeaea;
  --color-basic-light2: #F3F4ED;
  --color-basic-light3: #dbdcd5;
  --color-basic-light4: #EEEBDD;
  --color-basic-dark: #393E46;
  --color-basic-dark2: #3B5249;
  --color-basic-dark-shadow: #cecece;
  --color-basic-blue1: #18395d;
  --color-basic-blue2: #2863a5;
  --color-basic-blue-dark: #536162;
  --color-basic-blue-dark2: #132C33;
  --color-basic-red: #A9333A;
  --color-basic-red2: #c85c5c;
  --color-basic-purple: #3E065F;
  --color-basic-orange: #E26A2C;

}
